     
.cart{
    height: 600px;
    width: 968px;
    top: 389px;
    left: 249px;
    background-color:#FFE4E4 ;
    padding: 30px;
}

.grid{
     display: grid;
     gap: 5px;
     grid-template-columns: repeat(4,1fr);

}
.bx{
     background-color: green;
     height: 150px;
     width: 150px;
     justify-content: center;
     align-items: center;
}

.price_value{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}
.combine{
     display: flex;
     gap: 10px;
     justify-content: space-between;
}